name: Build, Test and Release

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    env:
      GO_LDFLAGS: "-w -s"
      GO11MODULE: "on"
      GINKGO_FLAGS: "--randomizeAllSpecs --randomizeSuites --failOnPending --trace --race --progress --compilers=2 --nodes=2"
      VERSION: ${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || format('gh-action-{0}', github.sha) }}

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3

      - name: Set up Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4
        with:
          go-version: 1.19
          cache: true

      - name: Build Binary
        run: make all

      - name: Info Binary
        run: |
          ./kubecfg help
          ./kubecfg version

      - name: Test Binary
        run: |
          make test
          make vet

      # Only run integration on linux matrix job
      - name: Create k8s Kind Cluster
        uses: engineerd/setup-kind@aa272fe2a7309878ffc2a81c56cfe3ef108ae7d0 # v0.5.0
        if: matrix.os == 'ubuntu-latest'
        with:
          version: "v0.11.1"
          # NOTE - Starting with k8s 1.20 a CM is created in every namespace  called "kube-root-ca.crt" which breaks the "Simple Delete" integration test
          image: "kindest/node:v1.19.11@sha256:07db187ae84b4b7de440a73886f008cf903fcf5764ba8106a9fd5243d6f32729"

      - name: Integration Testing
        if: matrix.os == 'ubuntu-latest'
        run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@$(go list -f '{{.Version}}' -m github.com/onsi/ginkgo/v2)
          make integrationtest GINKGO="ginkgo $GINKGO_FLAGS"

      - name: Upload kubecfg artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3
        with:
          name: kubecfg_${{ runner.os }}_${{ runner.arch }}
          path: kubecfg
          retention-days: 5

      - if: matrix.os == 'ubuntu-latest'
        uses: ko-build/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa # v0.6

      - name: Build OCI image using ko
        if: matrix.os == 'ubuntu-latest' && github.event.pull_request.head.repo.fork
        run: ko build -B --push=false --platform linux/amd64,linux/arm/v7,linux/arm64

      - name: Build OCI image using ko and push it to ghcr
        if: matrix.os == 'ubuntu-latest' && !github.event.pull_request.head.repo.fork
        run: ko build -B --platform linux/amd64,linux/arm/v7,linux/arm64

      - name: Build OCI image using ko , tag and push it to ghcr
        if: matrix.os == 'ubuntu-latest' && startsWith(github.ref, 'refs/tags/v')
        run: |
          tag=$(echo ${{ github.ref }} | cut -c11-)  # get tag name without tags/refs/ prefix.
          ko build -B --platform linux/amd64,linux/arm/v7,linux/arm64 --tags ${tag}

  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}

    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # renovate: tag=v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: false

  release:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    needs: create_release
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Download kubecfg artifact
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3
        with:
          name: kubecfg_${{ runner.os }}_${{ runner.arch }}
      - name: Upload assets
        id: upload-release-asset
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # renovate: tag=v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: kubecfg
          asset_name: kubecfg_${{ runner.os }}_${{ runner.arch }}
          asset_content_type: application/octet-stream
